#hero {
  aspect-ratio: 16/9;
  min-height: unset !important;
  height: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#hero .object-cover {
  object-position: center top !important;
}

#hero .absolute.inset-0 {
  min-height: unset !important;
}

#hero .text-gray-600,
#hero .text-red-600 {
  font-size: 1rem !important;
}

@media (max-width: 640px) {
  #hero {
    aspect-ratio: 16/9;
    width: 100vw;
    height: auto !important;
    min-height: unset !important;
  }
} 