.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  margin-bottom: 32px;
}

.content {
  grid-column: 2 / 12; /* từ cột 2 đến cột 10 */
}

.fullWidth {
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2)); /* căn sát mép trái */
}
